@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D5E1EF;
}

.container{
    max-width: 275px;
    background-color: #fff;
    padding: 15px;
    margin: 0 20px;
    border-radius: 15px;
    box-shadow: 0 0 16px 4px rgb(0,0,0,0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img{
    width: 100%;
    min-width: 200px;
    margin-top: 6px;
    margin-bottom: 10px;
}

.img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 15px;
}

h2,p{
    text-align: center;
    font-family: 'Outfit' ,sans-serif;
}

h2{
    font-size: 18px;
    color: #102338;
}

p{
    margin: 10px;
    font-size: 15px;
    color: #aaa;
    margin-bottom: 20px;
}

footer{
    position: absolute;
    bottom: 0;
}

footer  p{
    color: #7b879d;
    text-wrap: nowrap;
} 

footer p a{
    color: #1f3251;
    text-decoration: none;
}

footer p a:hover{
    color: #1858be;
    text-decoration: underline;
}
